*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background{
    width: 500px;
    height: 500px;
    /* background-image: url("./img/natural.jpg"); */
    background-image: url("https://images.pexels.com/photos/2080960/pexels-photo-2080960.jpeg");
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
}