*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 900px;
    width: 800px;
    border: 2px solid black;
    display: grid;
    /* grid-template-columns: 100px 100px 100px 200px;
    grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: 100px 200px;
    grid-row: auto; */
    gap: 10px;
    /* row-gap: 10px;
    column-gap: 10px;
    justify-content: center;
    align-items: stretch; */
    margin: auto;
}
.box{
    /* height: 100px;
    width: 100px; */
    border: 1px solid black;
}
#box-1{
    background-color: blueviolet;
    grid-column-start: 1;
    grid-column-end: -1;
    /* grid-column: 1;span 2; */
}

#box-2{
    background-color: bisque;
    grid-row: 2/5;
}

#box-3{
    background-color: aquamarine;
    grid-column: 2/-1;
}

#box-4{
    background-color: brown;
}

#box-5{
    background-color: cadetblue;
}

#box-6{
    background-color: chartreuse;
    grid-column: 2/4;
}
#box-7{
    background-color: gainsboro;
    grid-column: 1/-1;
}